.tg-6,
.tg-7 {
  border-collapse: collapse;
  border-spacing: 0;
  width: 1383px;
  vertical-align: middle;
  text-align: left;
  color: #fff;
  border-color: #fff;
  margin: 0 auto;
  text-align: center;

  tr {
    border-bottom: 1px solid;
  }
  th,
  td {
    &:not(:first-child) {
      border-left: 1px solid;
    }
  }
  .col-1 {
    width: 327px;
  }

  .row-3,
  .row-4 {
    .col-1 {
      text-align: left;
    }
  }

  .col-1,
  .row-2 .col-2 {
    font-weight: 700;
  }

  .col-2,
  .col-3 {
    width: 212px;
  }

  .row-2 .col-1,
  .row-3 .col-3,
  .row-3 .col-4 {
    width: 212px;
  }

  .row-1 {
    .col-1,
    .col-2,
    .col-3 {
      height: 90px;
    }
  }
  .row-3 {
    height: 48px;
  }
  .bullet {
    font-size: 30px;
  }
}

.tg-7 {
  .row-4 td {
    width: 212px;
    height: 46px;
  }

  .row-4 .col-1 {
    width: 327px;
  }

  .row-4,
  .row-5 {
    border-bottom: none !important;
  }
  .row-5 {
    text-align: end;
    span {
      position: relative;
      top: 5px;
    }
  }
}
