.tg-6,
.tg-7 {
  border-collapse: collapse;
  border-spacing: 0;
  width: 86.4375rem;
  vertical-align: middle;
  text-align: left;
  color: #fff;
  border-color: #fff;
  margin: 0 auto;
  text-align: center;

  tr td {
    position: relative;
  }

  .-has-dot {
    color: #fff;
    position: relative;
    transform: translateX(-50%);
    &::after {
      content: '\2022‬';
      position: absolute;
      font-size: 1.875rem;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
    }
  }

  tr {
    border-bottom: 1px solid;
  }
  th,
  td {
    &:not(:first-child) {
      border-left: 1px solid;
    }
  }
  .col-1 {
    width: 20.4375rem;
  }

  .row-3,
  .row-4 {
    .col-1 {
      text-align: left;
    }
  }

  .col-1,
  .row-2 .col-2 {
    font-weight: 700;
  }

  .row-2 .col-1 {
    border-left: 1px solid #fff;
  }

  .col-2,
  .col-3 {
    width: 13.25rem;
  }

  .row-2 .col-1,
  .row-3 .col-3,
  .row-3 .col-4 {
    width: 13.25rem;
  }

  .row-1 {
    .col-1,
    .col-2,
    .col-3 {
      height: 5.625rem;
    }
  }
  .row-3 {
    height: 3rem;
  }
  .bullet {
    font-size: 1.875rem;
  }
}

.tg-7 {
  .row-4 td {
    width: 13.25rem;
    height: 2.875rem;
  }

  .row-4 .col-1 {
    width: 20.4375rem;
  }

  .row-4,
  .row-5 {
    border-bottom: none !important;
  }
  .row-5 {
    text-align: end;
    span {
      position: relative;
      top: 5px;
    }
  }
}
