.tg-27 {
  border-collapse: collapse;
  border-spacing: 0;
  width: 80.1875rem;
  margin: 0 auto;
  text-align: center;

  .circle-letter {
    display: inline-block;
    color: #005ba2;
    border: 1px solid #005ba2;
    border-radius: 100%;
    height: 1.6875rem;
    width: 1.6875rem;
    line-height: 1.6875rem;
    text-align: center;
    font-weight: 700;
  }
  .row-1 {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
    color: #1370d0;
    height: 2.25rem;
    .col-1,
    .col-4 {
      width: 38.75rem;
    }
    .col-2,
    .col-3 {
      width: 1.875rem;
    }
    .col-2 {
      border-left: none;
    }
    .col-4 {
      border-left: none;
    }
    td {
      padding-top: 0.5rem;
    }
  }

  .row-2 {
    font-weight: 700;
    height: 4.375rem;
  }
  .row-3,
  .row-4,
  .row-5 {
    height: 2.25rem;
  }
  .row-2,
  .row-3 {
    border-bottom: 1px solid #bbbdc0;
  }

  .row-6 {
    height: 1.5rem;
    td {
      border-bottom: 1px solid #bbbdc0;
    }
  }

  .col-1,
  .col-6 {
    text-align: left;
    border-left: none;
  }
  td {
    border-left: 1px solid #bbbdc0;
  }
  .row-4 {
    .col-2,
    .col-3 {
      border-bottom: 1px solid #bbbdc0;
    }
  }
}
