.tg {
  /* text-transform: uppercase; */
  border-collapse: collapse;
  border-spacing: 0;
  width: 80.3125rem;
  table-layout: fixed;
}

.tg th,
.tg td {
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}

.tg tr *:not(:first-child) {
  border-left: 2px solid #b1b2b6;
}

.row-1 {
  height: 2.3rem;
  font-weight: 700;
  /* text-transform: uppercase; */
}

.row-2 {
  font-weight: 700;
  height: 2.3rem;
}

.row-2 .col-1 {
  vertical-align: baseline;
  padding-top: 1.2rem;
}

.row-2 td:not(:first-child) {
  text-transform: uppercase;
}

.row-3,
.row-3 img {
  height: 4.05rem;
}

.row-4 {
  width: 8.92rem;
  font-weight: 700;
  text-transform: uppercase;
}
.row-4,
.row-rest {
  height: 2.285rem;
}

.row-rest {
  width: 8.92rem;
}

.row-1 .col-1 {
  width: 9.0625rem;
}

.row-1 .col-2,
.row-1 .col-3 {
  width: 35.625rem;
}

.row-1 th:not(:first-child) {
  border-bottom: 2px solid #b1b2b6;
}

.row-2,
.row-3,
.row-4,
.row-rest:not(:last-child) {
  border-bottom: 2px solid #b1b2b6;
}
